@use 'sass:map';
@import '../../../style/vars';

.text-field {
    background-color: map-get($theme-colors-variants, 'dark-secondary');
    color: map-get($theme-colors-variants, 'light-secondary');
    border-radius: 5px;
    padding: map-get($theme-spacing-sizes, 'sm');
    input {
        border: none;
        color: white;
        background-color: transparent;
    }
}
