@import '../../../../vitzik-domain/src/style/vars';

.text-field {
    background-color: map-get($theme-colors, 'dark-secondary');
    color: map-get($theme-colors, 'light-secondary');
    border-radius: 5px;
    padding: map-get($theme-spacing-sizes, 'sm');
    input {
        border: none;
        color: white;
        background-color: transparent;
    }
}
