@import '../../packages/vitzik-ui/src/style/vars';
@import '../../style/mixins/add-glitch-effect';

.extra-settings {
    &__user-instrument {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
