@import '../../../style/vars';
@import '../../../style/mixins';

.btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: map-get($theme-font-weights, 'bold');
    text-transform: uppercase;

    &--filled {
        color: darken(map-get($theme-colors, 'primary'), 20%);
        background-color: map-get($theme-colors-variants, 'dark-secondary');
    }

    &--outlined {
        border: 1px solid map-get($theme-colors, 'primary');
        background-color: transparent;
        color: map-get($theme-colors, 'primary');
        &:hover,
        &:focus {
            border: 1px solid lighten(map-get($theme-colors, 'primary'), 25%);
            color: lighten(map-get($theme-colors, 'primary'), 25%);
            background-color: transparent;
        }
    }

    &--text {
        background-color: transparent;
        text-transform: none;
        text-decoration: underline;
    }

    &--secondary {
        color: white;
    }

    &:hover,
    &:focus {
        background-color: map-get($theme-colors-variants, 'light-secondary');
    }

    &--active {
        background-color: map-get($theme-colors, 'primary');
        &:hover,
        &:focus {
            background-color: lighten(map-get($theme-colors, 'primary'), 10%);
        }
    }

    &--disabled {
        background-color: map-get($theme-colors, 'disabled');
        color: lighten(map-get($theme-colors, 'disabled'), 10%);
        cursor: not-allowed;
        &:hover,
        &:focus {
            background-color: map-get($theme-colors, 'disabled');
        }
    }

    @include addFontSizes(font-size);
}
