@import '../../../src/style/vars';

$color-1: map-get($theme-colors, 'primary');
$color-2: map-get($theme-colors, 'info');

.loader {
    position: relative;
    span {
        display: block;
        position: absolute;
        bottom: 0;
        height: 5px;
        width: 3px;
        animation: waving 1.5s infinite ease-in-out;
        &:nth-last-of-type(2) {
            left: 6px;
            animation-delay: 0.2s;
        }
        &:nth-last-of-type(3) {
            left: 9px;
            animation-delay: 0.4s;
        }
        &:nth-last-of-type(4) {
            left: 13px;
            animation-delay: 0.6s;
        }
        &:last-of-type {
            left: 16px;
            animation-delay: 0.9s;
        }
    }
}

@keyframes waving {
    0%,
    50%,
    100% {
        height: 5px;
        background-color: $color-1;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background-color: $color-2;
    }
}
