@use 'sass:map';
@import '../../../style/vars';

$width: 33%;

.sidebar {
    height: 100%;
    width: $width;
    right: $width;
    overflow-y: auto;
    top: 0;
    transform: translateX(100%);
    position: fixed;
    background-color: map.get($theme-colors-variants, 'light-secondary');
    z-index: 3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    &-enter,
    &-appear {
        transform: translateX(200%);
    }
    &-enter-active,
    &-appear-active {
        transform: translateX(100%);

        transition: transform 300ms;
    }
    &-exit {
        transform: translateX(100%);
    }
    &-exit-active {
        transform: translateX(200%);
        transition: transform 300ms;
    }
}
