@use 'sass:map';
@import 'src/style/vars';

.btn {
    color: darken(map.get($theme-colors, 'primary'), 20%);
    border: none;
    cursor: pointer;
    opacity: 0.75;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: map.get($theme-colors, 'secondary');
    letter-spacing: 1px;

    &:hover,
    &:focus {
        background-color: lighten(map.get($theme-colors, 'secondary'), 10%);
    }

    &--outline {
        border: 1px solid map.get($theme-colors, 'primary');
        background-color: transparent;
        color: map.get($theme-colors, 'primary');
        &:hover,
        &:focus {
            border: lighten(map.get($theme-colors, 'primary'), 10%);
        }
    }

    &--active {
        background-color: map.get(
            $theme-colors,
            'primary'
        ); // TODO: fix when used with outline the button can't be read
        &:hover,
        &:focus {
            background-color: lighten(map.get($theme-colors, 'primary'), 10%);
        }
    }

    &--sm {
        font-size: map.get($theme-font-sizes, 'sm');
    }
    &--md {
        font-size: map.get($theme-font-sizes, 'md');
    }
    &--lg {
        font-size: map.get($theme-font-sizes, 'lg');
    }
}
