@use 'sass:map';
@import 'src/style/vars';
@import 'src/style/mixins';

.btn {
    color: darken(map.get($theme-colors, 'primary'), 20%);
    border: none;
    cursor: pointer;
    opacity: 0.75;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: map.get($theme-colors, 'secondary');
    letter-spacing: 1px;

    &:hover,
    &:focus {
        background-color: lighten(map.get($theme-colors, 'secondary'), 10%);
    }

    &--active {
        background-color: map.get($theme-colors, 'primary');
        &:hover,
        &:focus {
            background-color: lighten(map.get($theme-colors, 'primary'), 10%);
        }
    }

    &--outline {
        border: 1px solid map.get($theme-colors, 'primary');
        background-color: transparent;
        color: map.get($theme-colors, 'primary');
        &:hover,
        &:focus {
            border: 1px solid lighten(map.get($theme-colors, 'primary'), 25%);
            color: lighten(map.get($theme-colors, 'primary'), 25%);
            background-color: transparent;
        }
    }

    @include addFontSizes(font-size);
}
