@use 'sass:map';
@import 'src/style/vars';

.btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.75;
    &.active {
        background-color: map.get($theme-colors, 'primary');
    }
    &:hover {
        opacity: 1;
    }
    &:focus {
        opacity: 1;
    }
    &--sm {
        font-size: map.get($theme-sizes, 'sm');
    }
    &--md {
        font-size: map.get($theme-sizes, 'md');
    }
    &--lg {
        font-size: map.get($theme-sizes, 'lg');
    }
}
