@import '../../../style/vars';

$-size: 24px;
$-line: #505162;
$-dot: #f7f8ff;
$-circle: #9ea0be;
$-duration: 0.3s;
$-text: #9ea0be;

.switch {
    cursor: pointer;
    input {
        display: none;
        & + .switch--icon {
            position: relative;
            &:before,
            &:after {
                --s: 1;
                content: '';
                position: absolute;
                height: $-size / 6; // whole line-height
                top: $-size / 5; // top of the whole line
                width: $-size; // width of the whole line
                background: $-line;
                transform: scaleX(var(--s));
                transition: transform $-duration ease;
            }
            &:before {
                // left side of the line
                --s: 0;
                left: 0;
                transform-origin: 0 50%;
                border-radius: 2px 0 0 2px;
            }
            &:after {
                left: $-size / 1.5; // right side of the line
                transform-origin: 100% 50%;
                border-radius: 0 2px 2px 0;
            }
            span {
                // the circle
                padding-left: 56px;
                line-height: $-size / 2;
                color: $-text;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: $-size / 2;
                    height: $-size / 2;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 $-size / 6 $-circle;
                    transform: translateX(0);
                    transition: box-shadow $-duration ease, transform $-duration ease;
                }
                &:not(:empty) {
                    padding-left: 64px;
                }
            }
        }
        &:checked {
            & + .switch--icon {
                &:before {
                    --s: 1;
                }
                &:after {
                    --s: 0;
                }
                span {
                    &:before {
                        transform: translateX(
                            $-size * 1.2
                        ); // position of the circle on the z axis when checked
                        box-shadow: inset 0 0 0 $-size / 2 $-dot;
                    }
                }
            }
        }
    }
}
