.cartesian {
    display: flex;
    overflow: scroll;
    transform: scaleY(-1); // flip to emulate cartesian coordinates system
    g text {
        transform: scaleY(
            -1
        ); // Re-flip all <text> element descendants to their original side up. */
    }
    [class^='note-'] {
        border-radius: 5px;
    }
}
