@import 'src/style/mixins';
@import 'src/style/vars';

.midi-track-list {
    &__track-index {
        font-weight: map-get($theme-font-weights, 'bold');
    }
    &__track-name {
        font-weight: map-get($theme-font-weights, 'bold');
        padding: map-get($theme-spacing-sizes, 'md') map-get($theme-spacing-sizes, 'md')
            map-get($theme-spacing-sizes, 'md') map-get($theme-spacing-sizes, 'sm');
        display: inline-block;
    }
    .channel {
        cursor: pointer;
        border-radius: 3px;
        background-color: map-get($theme-colors, 'light-secondary');
        color: map-get($theme-colors, 'dark-secondary');
        padding: map-get($theme-spacing-sizes, 'sm');
        font-weight: map-get($theme-font-weights, 'bold');
        font-size: map-get($theme-font-sizes, 'sm');
    }
    @include addChannelColors(background-color);
}
