@import '../../style/mixins/index';
@import '../../packages/vitzik-ui/src/style/vars';

.midi-visualizer__slide {
    position: absolute;
    transform: translate3d(0, 0, 0);
    height: 100%;
    @include add-channel-colors() using ($color) {
        fill: $color;
    }
    canvas {
        z-index: -1;
        position: absolute;
        top: 0;
        display: inline-block;
        left: 0;
    }
}
