@import '../../style/vars';
@import '../../style/glitch';

.midi-title {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-enter,
    &-appear {
        opacity: 0;
    }
    &-enter-active,
    &-appear-active {
        opacity: 1;
        transition: opacity 500ms;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }

    &__text {
        position: relative;
        color: white;
        letter-spacing: 0.15em;
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
        max-width: 80%;
        @include addGlitchEffect();
    }
}
