@use 'sass:map';
@import '../../../style/vars';

.tooltip {
    display: none;
    background-color: map.get($theme-colors, 'secondary');
    z-index: 10;

    [data-popper-placement^='top'] > &__arrow {
        bottom: -4px;
    }

    [data-popper-placement^='bottom'] > &__arrow {
        top: -4px;
    }

    [data-popper-placement^='left'] > &__arrow {
        right: -4px;
    }

    [data-popper-placement^='right'] > &__arrow {
        left: -4px;
    }

    &--active {
        display: block;
    }

    &__arrow,
    &__arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
    }

    &__arrow {
        visibility: hidden;
        &::before {
            visibility: visible;
            content: '';
            transform: rotate(45deg);
        }
    }
}
