@import '../../packages/vitzik-ui/src/style/vars';

.app-infos {
    &__keyboard-shortcuts {
        span {
            background-color: map-get($theme-colors, 'dark-secondary');
            padding: map-get($theme-spacing-sizes, 'sm');
            border-radius: 5px;
        }
    }
}
