@import '../../../src/style/vars';

select {
    background-color: map-get($theme-colors, 'dark-secondary');
    border-radius: 5px;
    border: none;
    color: map-get($theme-colors, 'primary');
    cursor: pointer;
    letter-spacing: 1px;
    option {
        color: white;
    }
}
