@font-face {
    font-family: 'Custom Icons';
    src: url('fonts/icons.woff') format('woff');
}

// Maps the icons to characters in the font
.icon {
    &::before {
        font-family: 'Custom Icons', serif;
        text-transform: none;
    }
    &-loop {
        &::before {
            content: 'a';
        }
    }
    &-usb {
        &::before {
            content: 'b';
        }
    }
    &-reset {
        &::before {
            content: 'c';
        }
    }
    &-midi {
        &::before {
            content: 'd';
        }
    }
    &-settings {
        &::before {
            content: 'e';
        }
    }
    &-eye-open {
        &::before {
            content: 'f';
        }
    }
    &-eye-half-closed {
        &::before {
            content: 'g';
        }
    }
    &-eye-closed {
        &::before {
            content: 'h';
        }
    }
    &-stop {
        &::before {
            content: 'i';
        }
    }
}
