@import '../../../../vitzik-app/src/style/vars';

$size: 33%;
$duration: 300ms;

@mixin sidebar-slide-animation($position, $duration, $start, $end) {
    &--#{$position} {
        transform: $start;
        #{$position}: 0;
        @if $position == top {
            width: 100%;
            height: $size;
        } @else if $position == bottom {
            width: 100%;
            height: $size;
        } @else if $position == right {
            width: $size;
            height: 100%;
            top: 0;
        } @else if $position == left {
            width: $size;
            height: 100%;
            top: 0;
        }
        &-enter,
        &-appear {
            transform: $end;
        }
        &-enter-active,
        &-appear-active {
            transform: $start;
            transition: transform #{$duration};
        }
        &-exit {
            transform: $start;
        }
        &-exit-active {
            transform: $end;
            transition: transform #{$duration};
        }
    }
}

.sidebar {
    overflow-y: auto;
    position: fixed;
    background-color: map-get($theme-colors, 'light-secondary');
    z-index: 3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    @include sidebar-slide-animation(right, $duration, translateX(0%), translateX(100%));
    @include sidebar-slide-animation(left, $duration, translateX(0%), translateX(-100%));
    @include sidebar-slide-animation(top, $duration, translateY(0%), translateY(-100%));
    @include sidebar-slide-animation(bottom, $duration, translateY(0%), translateY(100%));
}
