@import '../..../style/vars';

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: map-get($theme-spacing-sizes, 'md');
    &__half {
        position: absolute;
        width: map-get($theme-font-sizes, 'md');
        height: map-get($theme-font-sizes, 'md');
        background: #fff;
        transition: clip-path 0.3s ease;
        &--after {
            clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
        }
        &--before {
            clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
        }
    }
    &--pause {
        .play-button__half--after {
            clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
        }
        .play-button__half--before {
            clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
        }
    }
}
