@import 'src/style/vars';

.btn-group {
    background-color: map-get($theme-colors, 'secondary');
    border-radius: 5px;
    > .btn {
        border: none;
        border-radius: 0;
        &:first-child {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        &:last-child {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}
