@import 'style/vars';

#root {
    height: 100vh;
    width: 100vw;
    font-size: map-get($theme-font-sizes, 'md');
    color: map-get($theme-colors-variants, 'text');
}

.container {
    background-color: #282c34;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 75% 1fr;
    grid-template-areas:
        'header'
        'main'
        'piano';
    .topbar {
        height: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        display: flex;
    }
    .preview {
        position: relative;
    }
}
