@import 'style/vars';

#root {
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: #282c34;
    font-size: map-get($theme-font-sizes, 'md');
    color: white;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 75% 1fr;
    grid-template-areas:
        'header'
        'main'
        'piano';
    .topbar {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        height: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }
}
