@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import 'style/icons';
@import 'src/style/vars';
@import 'src/style/mixins';

body {
    margin: 0;
    font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pd {
    @include addSpacingSizes(padding);
    &-t {
        @include addSpacingSizes(padding-top);
    }
    &-b {
        @include addSpacingSizes(padding-bottom);
    }
    &-l {
        @include addSpacingSizes(padding-left);
    }
    &-r {
        @include addSpacingSizes(padding-right);
    }
}

.mg {
    @include addSpacingSizes(margin);
    &-t {
        @include addSpacingSizes(margin-top);
    }
    &-b {
        @include addSpacingSizes(margin-bottom);
    }
    &-l {
        @include addSpacingSizes(margin-left);
    }
    &-r {
        @include addSpacingSizes(margin-right);
    }
}
