@use 'sass:map';
@import './src/style/vars';

$input-width: 500px;

.audio-player {
    display: flex;
    align-items: center;

    .title {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: map-get($theme-spacing-sizes, 'md');
    }

    .bpm,
    .title {
        font-weight: map-get($theme-font-weights, 'bold');
    }

    .bpm {
        margin: map-get($theme-spacing-sizes, 'md');
    }

    .current-time,
    .total-time {
        margin: map-get($theme-spacing-sizes, 'md');
    }

    input[type='range'] {
        cursor: pointer;
        overflow: hidden;
        width: $input-width;
        -webkit-appearance: none;
        background-color: map-get($theme-colors-variants, 'dark-secondary');
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: map-get($theme-colors-variants, 'dark-secondary');
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 5px;
        -webkit-appearance: none;
        height: 10px;
        background: map-get($theme-colors-variants, 'light-secondary');
        box-shadow: -$input-width 0 0 $input-width map-get($theme-colors, 'primary');
    }

    /** FF*/
    input[type='range']::-moz-range-progress {
        background-color: map-get($theme-colors, 'primary');
    }
    input[type='range']::-moz-range-track {
        background-color: map-get($theme-colors-variants, 'dark-secondary');
    }
    /* IE*/
    input[type='range']::-ms-fill-lower {
        background-color: map-get($theme-colors, 'primary');
    }
    input[type='range']::-ms-fill-upper {
        background-color: map-get($theme-colors-variants, 'dark-secondary');
    }
}
