@use 'sass:map';
@import './src/style/vars';

$input-width: 500px;

.audio-player {
    display: flex;
    align-items: center;

    .title {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: map-get($theme-spacing-sizes, 'md');
    }

    .title {
        font-weight: map-get($theme-font-weights, 'bold');
    }

    .current-time,
    .total-time {
        margin: map-get($theme-spacing-sizes, 'md');
    }

    .progress-bar {
        cursor: pointer;
        overflow: hidden;
        width: $input-width;
        -webkit-appearance: none;
        background-color: map-get($theme-colors-variants, 'dark-secondary');

        &::-webkit-slider-runnable-track {
            height: 10px;
            -webkit-appearance: none;
            color: map-get($theme-colors-variants, 'dark-secondary');
            margin-top: -1px;
        }

        &::-webkit-slider-thumb {
            width: 5px;
            -webkit-appearance: none;
            height: 10px;
            background: map-get($theme-colors-variants, 'light-secondary');
            box-shadow: -$input-width 0 0 $input-width map-get($theme-colors, 'primary');
        }

        /** FF*/
        &::-moz-range-progress {
            background-color: map-get($theme-colors, 'primary');
        }
        &::-moz-range-track {
            background-color: map-get($theme-colors-variants, 'dark-secondary');
        }
        /* IE*/
        &::-ms-fill-lower {
            background-color: map-get($theme-colors, 'primary');
        }
        &::-ms-fill-upper {
            background-color: map-get($theme-colors-variants, 'dark-secondary');
        }
    }
}
