@import '../../style/vars';

.midi-input {
    padding-right: map-get($theme-spacing-sizes, 'md');
    &--error {
        color: map-get($theme-colors-variants, 'disabled');
    }

    .tooltip--active {
        max-width: 150px;
    }
}
