@import '../../style/vars';
@import '../../style/glitch';

.extra-settings {
    &__user-instrument {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
