@import '../../style/vars';

.dropzone {
    height: 100%;
    pointer-events: none;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    &--pending {
        display: none;
    }
    &--dragging {
        display: block;
    }
}
