@import '../../style/vars';

.dropzone {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: map-get($theme-colors-variants, 'dark-secondary');
    &--pending {
        display: none;
    }
    &__message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__message {
        &--error {
            color: red;
        }
    }
}
